.superInput {
    border: 1px solid #12a712;
    border-radius: 3px;
}
.superInput:hover {
    border: 1px solid #12a712;
    border-radius: 3px;
    box-shadow: 0 0 8px #12a712;
}
.superInput:focus {
    outline: none;
}

.errorInput {
    border: 1px solid #a00e0e;
    border-radius: 3px;
    background: #e77575;
}
.errorInput:hover {
    border: 1px solid #a00e0e;
    border-radius: 3px;
    background: #e77575;
    box-shadow: 0 0 8px #ba1212;
}
.errorInput:focus {
    outline: none;
}

.error {
    color: red;
}
