.wrapper{
    width: 100%;
    background-color: #b7ec92;
}
.container {
    margin-left: 200px;
    display: grid;
    grid-template-columns: 190px 730px;
    grid-template-rows: 0.1fr 1.5fr 1.4fr;
    gap: 10px 10px;
    grid-template-areas:
    "header header"
    "navbar viewer"
    "navbar viewer";
}
.header {
    grid-area: header;
}
.navbar {
    grid-area: navbar;
}
.viewer {
    grid-area: viewer;
}
